USE [master]
GO
/****** Object:  Database [FreshLiveDB]    Script Date: 2019/4/24 12:08:02 ******/
CREATE DATABASE [FreshLiveDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FreshLiveDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\FreshLiveDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FreshLiveDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\FreshLiveDB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FreshLiveDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FreshLiveDB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2019/4/24 12:08:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](64) NOT NULL,
	[ProductPic] [nvarchar](64) NOT NULL,
	[ProductPrice] [money] NOT NULL,
	[ProductDesc] [ntext] NOT NULL,
	[ClassID] [int] NOT NULL,
	[AddTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductClass]    Script Date: 2019/4/24 12:08:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductClass](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](16) NOT NULL,
	[ParentClassID] [int] NOT NULL,
 CONSTRAINT [PK_ProductClass] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2019/4/24 12:08:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](16) NOT NULL,
	[UserPwd] [nvarchar](32) NOT NULL,
	[Age] [int] NULL,
	[QQ] [nvarchar](16) NOT NULL,
	[Phone] [nvarchar](16) NOT NULL,
	[Address] [nvarchar](64) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UserType] [nvarchar](20) NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductPic], [ProductPrice], [ProductDesc], [ClassID], [AddTime]) VALUES (1, N'越南火龙果', N'3020210407410006_160.jpg', 28.0000, N' 因食火龙果健康长寿, 俗名叫长寿果。', 1, CAST(0x0000A2B900000000 AS DateTime))
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductPic], [ProductPrice], [ProductDesc], [ClassID], [AddTime]) VALUES (2, N'知牧羔羊寸排 750g', N'2912_160.jpg', 135.0000, N'羊肉是冬日滋补佳品，营养丰富。', 2, CAST(0x0000A2C100000000 AS DateTime))
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductPic], [ProductPrice], [ProductDesc], [ClassID], [AddTime]) VALUES (5, N'悦海上品 平鱼一条装 240g-260g/袋', N'209803115_160.jpg', 58.0000, N'平鱼(Pomfret)，学名鲳，是一种身体扁平的海鱼。', 4, CAST(0x0000A2B100000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductClass] ON 

INSERT [dbo].[ProductClass] ([ClassID], [ClassName], [ParentClassID]) VALUES (1, N'蔬菜水果', 0)
INSERT [dbo].[ProductClass] ([ClassID], [ClassName], [ParentClassID]) VALUES (2, N'鲜肉禽蛋', 0)
INSERT [dbo].[ProductClass] ([ClassID], [ClassName], [ParentClassID]) VALUES (3, N'鲜奶乳品', 0)
SET IDENTITY_INSERT [dbo].[ProductClass] OFF
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([UserID], [UserName], [UserPwd], [Age], [QQ], [Phone], [Address], [CreateTime], [UserType]) VALUES (1, N'mstanford', N'123', 18, N'123456', N'1361111111', N'武汉市', CAST(0x0000A29E00000000 AS DateTime), N'管理员')
INSERT [dbo].[UserInfo] ([UserID], [UserName], [UserPwd], [Age], [QQ], [Phone], [Address], [CreateTime], [UserType]) VALUES (2, N'scce', N'1111', 20, N'', N'13810000000', N'', CAST(0x0000A29E011923E0 AS DateTime), N'普通用户')
INSERT [dbo].[UserInfo] ([UserID], [UserName], [UserPwd], [Age], [QQ], [Phone], [Address], [CreateTime], [UserType]) VALUES (3, N'scme', N'B59C67BF196A4758191E42F76670CEBA', 18, N'', N'', N'', CAST(0x0000A2DD00E33604 AS DateTime), N'普通用户')
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductClass] FOREIGN KEY([ClassID])
REFERENCES [dbo].[ProductClass] ([ClassID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductClass]
GO
USE [master]
GO
